@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@600&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");


* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Bodoni Moda', serif;
  background-color: rgb(241, 241, 241);
}

main {
  box-sizing: border-box;
  min-height: calc(100vh - 100px);
  margin: 20px;
  padding: 20px 60px;
  background-color: rgba(248, 248, 248, 0.932);
}

button {
  background-color: rgba(255, 255, 255, 0.938);
  border: 2px solid #032c13;
  transition: ease-in-out 0.3s;
  border-radius: 10px;
  margin-left: 10px;
  padding: 14px 25px;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
}

.button-small {
  padding: 0.4em 0.9em;
  border-radius: 7px;
}

nav{
  border-bottom: solid gray 1.5px;
  margin: 0 20px;
}

nav li {
  display: inline-block;
  margin:  0 20px;
}

nav img{
  width: 150px;
  position: relative;
  top: +17px
}

nav li:hover {
  text-decoration: underline;
}

.navbar {
  list-style: none;
  font-size: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

footer {
 text-align: center;
}

.footerLogo {
  border-bottom: solid gray 1.5px;
  margin: 0 20px;
  padding-bottom: 15px;
}

.footerFlex {
  display: flex;
  justify-content: space-around;
}

.footerBox {
  margin-bottom: 15px;
  margin-top: 20px;
  width: 30%;
}

.footerBox img {
 width: 50px;
  margin: 10px;
  justify-content: center;
  transition: 0.5s ease-in-out;
}

.footerBox img:hover {
  filter: invert(20%);
  transition: 0.2s ease-in-out;
 }

#cart-icon-container {
  position: relative;
  margin-right: 10px;
}

#cart-icon-amount {
  position: absolute;
  bottom: 15px;
  left: 13px;
  display: grid;
  place-items: center;
  height: 19px;
  width: 19px;
  background-color: rgb(169, 235, 83);
  border-radius: 50%;
  font-size: 11px;
  font-weight: 800;
  font-family: arial, sans-serif;
  z-index: 1;
}

.cart-container {
  background-color: #FFF;
  padding: 68px 30px;
  padding-left: 55px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-width: 900px;
  margin: 0 auto;
}

.cart-headline {
  margin-bottom: 40px;
  text-align: center;
}

.cart-container hr {
  margin-bottom: 40px;
  border-top: 1px solid rgb(229, 229, 229);
}

.cart-container button {
  margin-left: 0;
}


/* .btn {
  background-color: rgba(255, 255, 255, 0.938);
  border: 2px solid #032c13;
  transition: ease-in-out 0.3s;
  border-radius: 10px;
  padding: 15px;
  margin: 3px;
}

.btn:hover {
  box-shadow: 0 1px 1px 0 #032c13, 0 1px 1px 0 #032c13;
  transition: ease-in-out 0.3s;
} */
