@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@600&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
 font-family: 'Bodoni Moda', serif;
    background-color: rgb(218, 218, 218);
}

nav li {
  display: inline-block;
  margin:  0 20px;
  transition: 0.5s ease-in-out;
  border-radius: 10px;
  }

  nav img{
    width: 150px;
  }

  nav li:hover {
    text-decoration: underline;
    }

hr{
  color:  rgb(218, 218, 218);
  line-height: 0.2px;
}
.navbar {
  list-style: none;
  font-size: 24px;
}
a {
  color: inherit;
  text-decoration: none;
}
footer {
  margin:  0 20px;
}
footer h2 {
  text-align: center;
}
.cart-products {
  display: flex;
  column-gap: 20px;
  margin-bottom: 20px;
}

.cart-products img {
  width: 200px;
}
