.main {
    box-sizing: border-box;
    margin: 20px;
    padding: 20px;
    background-color: rgba(248, 248, 248, 0.932);
}

.productImage {
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.productDiv {
    text-align: center;

}
.productDiv p {
    margin: 0px;
}

.swipe{
    display: flex;
}

.singleProduct{
    min-height: 440px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 0 28px;
    display: inline-block;
    margin: 10px 10px;
    overflow: hidden;
    transition: ease-in-out 0.7s;
    flex: 2;
}

.swipeButtonYes, .swipeButtonNo {
    min-height: 440px;
    width: 20%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 10px 10px;
    font-size: 60px;
    border: black;

}

.swipeButtonYes:hover {
    background-color: green;
}
.swipeButtonNo:hover {
    background-color: rgb(185, 0, 0);
}
.singleProduct p {
    margin: 10px;
}

.singleProduct h2 {
    font-size: 20px;
}


