.container {
    box-sizing: border-box;
    height: calc(100vh - 100px);
    display: flex;
    margin: 20px;
    padding: 50px;
    background-color: rgba(249, 249, 249, 1);
}

.left {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right {
    flex: 1;
    padding: 20px;
}

.imgContainer {
    width: 80%;
    height: 80%;
    position: relative;
}

.description {
    margin: 10px 0;
    padding: 30px 0;
    border-bottom: 2px solid rgb(216, 215, 215);
}

.price {
    color: #032c13;
    font-size: 22px;
    font-weight: 400;
}

.quantity {
    width: 60px;
    height: 50px;
    border: 2px solid #032c13;
    border-radius: 10px;
    font-size: 15px;
}

.quantity:hover {
    box-shadow: 0 1px 1px 0 #032c13, 0 1px 1px 0 #032c13;
    transition: ease-in-out 0.3s;
}

.outOfStock {
    font-size: 23px;
    color: rgb(160, 2, 2);
}

.notEnoughInStock {
    margin: 10px 0px;
    color:rgb(160, 2, 2);
}

.btn {
    background-color: rgba(255, 255, 255, 0.938);
    border: 2px solid #032c13;
    transition: ease-in-out 0.3s;
    border-radius: 10px;
    margin-left: 10px;
    padding: 15px;
    height: 50px;
    width: 120px;
    font-size: 15px;
    font-weight: 400;
}

.btn:hover {
    box-shadow: 0 1px 1px 0 #032c13, 0 1px 1px 0 #032c13;
    transition: ease-in-out 0.3s;
}

.country {
    margin-bottom: 30px;
}
